doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet', href='/stylesheets/prefer_all.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6', crossorigin='anonymous')
  title Prefer

style.
  body {
    background-color: rgb(182,182,182);

  }

.prefer
  #primary
  form(id='content' name='signUp')
    .header
      img#logo(src='/images/head/prefer_head.png', alt='')
    div
      br
      #color_select
        span 마음에 드는 컬러를 선택해주세요!
        .form-check
          input#flexCheckDefault.form-check-input(name='color' type='checkbox', value='black' checked='')
          label.form-check-label(for='flexCheckDefault')
            #color_img
              img(src="/images/color/black.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='white')
          label.form-check-label(for='flexCheckChecked')
            #color_img  
              img(src="/images/color/white.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='red')
          label.form-check-label(for='flexCheckChecked')
            #color_img  
              img(src="/images/color/red.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='orange')
          label.form-check-label(for='flexCheckChecked')
            #color_img  
              img(src="/images/color/orange.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='yellow')
          label.form-check-label(for='flexCheckChecked')
            #color_img
              img(src="/images/color/yellow.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='green')
          label.form-check-label(for='flexCheckChecked')
            #color_img
              img(src="/images/color/green.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='blue')
          label.form-check-label(for='flexCheckChecked')
            #color_img 
              img(src="/images/color/blue.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='navy')
          label.form-check-label(for='flexCheckChecked')
            #color_img  
              img(src="/images/color/navy.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='purple')
          label.form-check-label(for='flexCheckChecked')
            #color_img  
              img(src="/images/color/purple.png", alt="")
        .form-check
          input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='pink')
          label.form-check-label(for='flexCheckChecked')
            #color_img  
              img(src="/images/color/pink.png", alt="")
      br

      br
      #style_select
        span 마음에 드는 스타일을 선택해주세요!
        .form-check
          input#flexRadioDefault1.form-check-input(type='radio' name='style' checked='' value='casual')
          label.form-check-label(id='style_label' for='flexRadioDefault1')
            img(src='/images/casual.png', alt='', width='230px', height='140px')
            p 캐주얼/심플
            
        .form-check
          input#flexRadioDefault2.form-check-input(type='radio' name='style' value='training')
          label.form-check-label(id='style_label' for='flexRadioDefault2')
            img(src='/images/training.jpg', alt='', width='230px', height='140px')
            p 트레이닝

        .form-check
          input#flexRadioDefault3.form-check-input(type='radio' name='style' value='unique')
          label.form-check-label(id='style_label' for='flexRadioDefault2')
            img(src='/images/unique.jpg', alt='', width='230px', height='140px')
            p 유니크
            
        .form-check
          input#flexRadioDefault4.form-check-input(type='radio' name='style' value='lovely')
          label.form-check-label(id='style_label' for='flexRadioDefault2')
            img(src='/images/lovely.jpg', alt='', width='230px', height='140px')
            p 러블리
      br

      br
      #brand_search
        span 브랜드 이름을 입력해주세요!
        .searchbox
          .header
            input#brand(type='text' placeholder='브랜드 이름을 입력하세요' name='brandName' style='width: 300px;')
      br

      #pricepick
        span 가격대를 선택해주세요!
        .form-check
          input#flexRadioDefault1.form-check-input(type='radio' name='price' checked='' value='저렴')
          label.form-check-label(id='price_label' for='flexRadioDefault1')
            | 0 ~ 30,000
            
        .form-check
          input#flexRadioDefault2.form-check-input(type='radio' name='price' value='보통')
          label.form-check-label(id='price_label' for='flexRadioDefault2')
            | 30,000 ~ 50,000

        .form-check
          input#flexRadioDefault3.form-check-input(type='radio' name='price' value='조금 비쌈')
          label.form-check-label(id='price_label' for='flexRadioDefault2')
            | 50,000 ~ 100,000
            
        .form-check
          input#flexRadioDefault4.form-check-input(type='radio' name='price' value='비쌈')
          label.form-check-label(id='price_label' for='flexRadioDefault2')
            | 100,000 ~
      br

    button.btn.btn-dark(type='submit') 확인

  #secondary

script(src='https://unpkg.com/axios/dist/axios.min.js')
script(type='text/javascript', src='/javascripts/sequelize.js')