.primary {
  float: left;
  width: 15%;
  height: 860px;
  background-color: rgb(255, 255, 255);
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow:hidden;
  height:auto;
  background-color: rgb(255, 255, 255);
}

.content#mypagecontent {
  width: 70%;
}

.footer.mt-auto.py-3.bg-dark {
  text-align: center;
}

.container-fluid {
  color:white
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 25px;
}

.nav-link.active {
  margin: 0px 30px 0px 20px;
}

#zzimBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  margin: 70px auto;
  width: 60%;
  height: fit-content;
  border: 1px solid gray;
  border-radius: 10px;
}

.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark {
  margin: 5% 0 0 5%;
  box-shadow: 2px 2px 2px 2px gray;
  text-align: center;
}

.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none {
  margin: auto;
}

.nav-link.text-white {
  margin-bottom: 20%;
}

#user-form {
  text-align: center;
  margin-top: 20px 0px;
}

#user-form>input[type="text"] {
  height: 30px;
  width: 200px;
}

label#woman2 {
  margin-left:20px;
}

.gender, .age, .height_weight, .job {
  margin: 60px auto;
}

span {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

.fs-4 {
  width: fit-content;
  padding-right: 0%;
}

.des {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.user_name {
  margin: 5% auto 0 45%;
font-weight: bolder;
}

.desc {
font-size: small;
width: 100%;
text-align: center;
}

#color_select, #style_select, #brand_search, #pricepick {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
  height: 550px;
}

.searchbox {
  margin-bottom: 200px
}

#color_img {
  border: 1px solid rgb(131, 131, 131);
  width: fit-content;
  height: fit-content;
}

#myTab {
  width: 80%;
  margin: auto;
}

.form-check {
  padding: 2.0em;
}

.colors, .styles, .brands, .price {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.sidebar {
position: fixed;
}

.submitBtn {
  padding-bottom: 20px;
}

.deleteBtn{
  border: none;
  background: none;
}

.deleteBtn:hover svg {
  fill: red;
}

#delete {
  width: 20px;
  height: 20px;
}

.wrap {
  margin-bottom: 5%;
}

.hidden {
  opacity: 0;
}

/* 아래는 찜 아이템에 hover 시 보이는 애니메이션 */
.item {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 10px;
  width: 250px;
  height: 150px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  font-size: 10px;
}
.item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.item img {
  position: relative;
  max-width: 100%;
  height: 150px;
  vertical-align: top;
}
.item figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 0px 20px;
}
.item figcaption:before,
.item figcaption:after {
  width: 1px;
  height: 0;
}
.item figcaption:before {
  right: 0;
  top: 0;
}
.item figcaption:after {
  left: 0;
  bottom: 0;
}
.item h3 {
  line-height: 1.5em;
  font-size: 15px;
  margin: 5px 0 5px 0;
  font-weight: 900;
}
.item a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.item p {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 0 15px;
}

.item:before,
.item:after,
.item figcaption:before,
.item figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.item:before,
.item:after {
  height: 1px;
  width: 0%;
}
.item:before {
  top: 0;
  left: 0;
}
.item:after {
  bottom: 0;
  right: 0;
}
.item:hover img,
.item.hover img {
  opacity: 0.4;
}
.item:hover figcaption,
.item.hover figcaption {
  opacity: 1;
}
.item:hover figcaption:before,
.item.hover figcaption:before,
.item:hover figcaption:after,
.item.hover figcaption:after {
  height: 100%;
}
.item:hover:before,
.item.hover:before,
.item:hover:after,
.item.hover:after {
  width: 100%;
}
.item:hover:before,
.item.hover:before,
.item:hover:after,
.item.hover:after,
.item:hover figcaption:before,
.item.hover figcaption:before,
.item:hover figcaption:after,
.item.hover figcaption:after {
  opacity: 0.1;
}

