doctype html
html
    include main_header.pug

.primary
.content
    <iframe src="https://public.tableau.com/app/profile/hyuna.cho/viz/prac3_16233749293290/1_1" width="1500" height="2500"> </iframe>
include main_footer.pug