footer.footer.mt-auto.py-3.bg-dark
  .footerText
    span.text-muted O-Look
    div
      | 아이콘제작자
      a(href='https://www.freepik.com', title='Freepik') Freepik
      |  from 
      a(href='https://www.flaticon.com/kr/', title='Flaticon') www.flaticon.com
