doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Join Layout
  style.
    #primary {
    float: left;
    width: 10%;
    height: 920px;
    background-color: rgb(224, 224, 224);
    border-bottom-left-radius: 10px;
    }
    #content {
    float: left;
    width: 80%;
    height: 920px;
    background-color: rgb(146, 146, 146);
    }
    #form {
    text-align: center;
    width: 85%;
    height: 600px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    }
    #secondary {
    float: left;
    width: 10%;
    height: 920px;
    background-color: rgb(224, 224, 224);
    border-bottom-right-radius: 10px;
    }
    body {
    background-color: rgb(182, 182, 182);
    }
    .base {
    max-width: auto;
    height: 920px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    }
    h2 {
    margin-top: 150px;
    margin-left: 300px;
    width: 200px;
    }
.base
  #primary
  #content
    #form form
  #secondary
