<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Layout</title>
    <style>
        .container {
            background-color: gray;
            position: absolute;
            width: 400px; 
            height: 400px; 
            text-align: center;  
            margin-left: -200px; 
            margin-top: -200px; 
            left: 50%; 
            top: 50%;
        }

    </style>
  </head>
  <body>
      <div class="container"></div>
  </body>
</html>
