doctype html
html
  include main_header.pug

//- .user-name #{user.nick + '님에게 추천드립니다'}

.primary
.content
  .box1
    block content1

  span.text 인기있는 옷

  .box2
    block content2
      
.secondary

include main_footer.pug