extends join_basic_layout
block content
  .timeline
    form#join-form.form-floating(action='/auth/join' method='post')
      .form-floating.mb-3
        input#join-id.form-control(type='login_id' name = 'login_id')
        label(for='join_id') 아이디 
      .form-floating.mb-3
        input#join-password.form-control(type='password' name = 'password')
        label(for='join_password') 비밀번호
      .form-floating.mb-3
        input#join-nick.form-control(type='text' name = 'nick')
        label(for='join_nick') 닉네임
      .form-floating.mb-3
        input#join-email.form-control(type='text' name = 'email')
        label(for='join-email') 이메일
      button#join-btn.btn.btn-dark(type='submit') 회원가입
  //- endblock
//- block script
//- script.
//-   window.onload = () => {
//-   if (new URL(location.href).searchParams.get('error')) {
//-   alert('이미 존재하는 이메일입니다.');
//-   }
//-   };
