doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/stylesheets/join_basic_layout.css')
  title Join Basic

.base
  #primary
    #index
      #basic_info 기본
      #profile_info 프로필
  #content
    #head
      //-프로필 기본 정보 폼의 head 이미지는 profile_head.png
      img#p_head(src="/images/basic_head.png", alt="")
    #form
        text#next_text 프로필 정보
        button#next_btn
          img(src="/images/right_arrow.png", alt="")
  #secondary