doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/welcome.css')

  link(rel='stylesheet', href='/stylesheets/style.css')
  title Welcome!

body
    .welcome
        .text1 Welcome!
        .text2 O-Look에 오신 것을 환영합니다!
        .text3 확인 버튼을 눌러 다양한 추천 아이템을 확인해보세요!
        .gotoProfile
            button#join.btn.btn-dark.gotoProfileBtn(onclick="location.href='/prefer/main'") 확인