doctype html
html
  include main_header.pug

.primary

.content
  .twits
  //- .user-name #{user.nick + '님에게 추천드립니다!'}
  .box1
  if twits 
    for twit in twits
      //- div.twit #{twit}
      .item 

  span.text 인기있는 옷

  .box2
    .item
      
.secondary

include main_footer.pug

//- extends layout
//- block content
//-     .container
//-         .form-signin
//-             if user && user.id
//-                 .user-name #{'안녕하세요! ' + user.nick + '님'}
//-                 input#my-id(type='hidden' value='#{user.id}')
//-                 a#my-profile.btn(href='/profile') 프로필
//-                 a#logout.btn(href='/auth/logout') 로그아웃
//-             else
//-                 form#form(action='/auth/login' method='post')
//-                     h1.login_h1 Login
//-                     .form-floating
//-                         input#login_id.form-control(type='login_id' name='login_id' required='' autofocus='')
//-                         label(for='login_id') 아이디
//-                     .form-floating
//-                         input#login_pw.form-control(type='password' name='password' required='')
//-                         label(for='password') 비밀번호
//-                     button#login_btn.btn.btn-dark 로그인
//-                     a#join.btn.btn-dark(href='/join') 회원가입
//-                     //- a#kakao.btn(href='/auth/kakao') &#xCE74;&#xCE74;&#xC624;&#xD1A1;
//-             endif
//-             footer
//-             | copyright