doctype html
head 
    meta(charset='UTF-8')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x', crossorigin='anonymous')

style.
  body {
    background-color: rgb(182,182,182);
  }

.prefer
  #primary
  form(id='content' name='signUp')
    
    .tab
        #head
            img#p_head(src="/images/profile_head.png", alt="")
        #form
            div
                #form_p
                    br
                    br
                    br
                    //-성별 input
                    span 성별
                    label
                    | 남   
                    input#man(type='radio' name='user_gender' value='남' checked='' oninput="this.className = ''")
                    label#woman2
                    | 여 
                    input#woman(type='radio' name='user_gender' value='여' oninput="this.className = ''")
                    br
                    br
                    br
                    br
                    //-직업 input
                    span 직업
                    input#job_title(type='text' list='career' placeholder='직업을 선택하세요' oninput="this.className = ''")
                    datalist#career
                        option(value='학생')
                        option(value='회사원')
                    br
                    br
                    br
                    br
                    //-나이 input
                    span 나이
                    input#user_age(type='text' placeholder='나이를 입력하세요' oninput="this.className = ''")
                    br
                    br
                    br
                    br
                    //-키 input
                    span 키
                    input#user_height(type='text' placeholder='키를 입력하세요' oninput="this.className = ''")
                    span 몸무게
                    input#user_weight(type='text' placeholder='몸무게를 입력하세요' oninput="this.className = ''")
                    br
                    br
                    br
                    br
                    br
                    //- 회원가입 버튼
                    //- #to_welcome_page
                    //-     button#join.btn.btn-dark(type='submit') 회원가입

    .tab
        img#p_head(src='/images/head/prefer_head.png', alt='')
        #form_p
            #color_select
                span 마음에 드는 컬러를 선택해주세요!
                .form-check
                input#flexCheckDefault.form-check-input(name='color' type='checkbox', value='black' checked='' oninput="this.className = ''")
                label.form-check-label(for='flexCheckDefault')
                    #color_img
                    img(src="/images/color/black.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='white' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img  
                    img(src="/images/color/white.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='red' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img  
                    img(src="/images/color/red.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='orange' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img  
                    img(src="/images/color/orange.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='yellow' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img
                    img(src="/images/color/yellow.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='green' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img
                    img(src="/images/color/green.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='blue' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img 
                    img(src="/images/color/blue.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='navy' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img  
                    img(src="/images/color/navy.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='purple' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img  
                    img(src="/images/color/purple.png", alt="")
                .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='pink' oninput="this.className = ''")
                label.form-check-label(for='flexCheckChecked')
                    #color_img  
                    img(src="/images/color/pink.png", alt="")

    .tab
        img#p_head(src='/images/head/ps_head.png', alt='')
        #form_p
            #style_select
                span 마음에 드는 스타일을 선택해주세요!
                .form-check
                input#flexRadioDefault1.form-check-input(type='radio' name='style' checked='' value='casual' oninput="this.className = ''")
                label.form-check-label(id='style_label' for='flexRadioDefault1')
                    img(src='/images/casual.png', alt='', width='230px', height='140px')
                    p 캐주얼/심플
                    
                .form-check
                input#flexRadioDefault2.form-check-input(type='radio' name='style' value='training' oninput="this.className = ''")
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                    img(src='/images/training.jpg', alt='', width='230px', height='140px')
                    p 트레이닝

                .form-check
                input#flexRadioDefault3.form-check-input(type='radio' name='style' value='unique' oninput="this.className = ''")
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                    img(src='/images/unique.jpg', alt='', width='230px', height='140px')
                    p 유니크
                    
                .form-check
                input#flexRadioDefault4.form-check-input(type='radio' name='style' value='lovely' oninput="this.className = ''")
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                    img(src='/images/lovely.jpg', alt='', width='230px', height='140px')
                    p 러블리

    .tab
        img#p_head(src='/images/head/pb_head.png', alt='')
        #form_p
            #brand_search
                span 브랜드 이름을 입력해주세요!
                .searchbox
                .header
                    input#brand(type='text' placeholder='브랜드 이름을 입력하세요' name='brandName' style='width: 300px;' oninput="this.className = ''")

    .tab
        img#p_head(src="/images/head/pr_head.png", alt="")
        #form_p
            #pricepick
                span 가격대를 선택해주세요!
                .form-check
                input#flexRadioDefault1.form-check-input(type='radio' name='price' checked='' value='저렴' oninput="this.className = ''")
                label.form-check-label(id='price_label' for='flexRadioDefault1')
                    | 0 ~ 30,000
                    
                .form-check
                input#flexRadioDefault2.form-check-input(type='radio' name='price' value='보통' oninput="this.className = ''")
                label.form-check-label(id='price_label' for='flexRadioDefault2')
                    | 30,000 ~ 50,000

                .form-check
                input#flexRadioDefault3.form-check-input(type='radio' name='price' value='조금 비쌈' oninput="this.className = ''")
                label.form-check-label(id='price_label' for='flexRadioDefault2')
                    | 50,000 ~ 100,000
                    
                .form-check
                input#flexRadioDefault4.form-check-input(type='radio' name='price' value='비쌈' oninput="this.className = ''")
                label.form-check-label(id='price_label' for='flexRadioDefault2')
                    | 100,000 ~

    button#join.btn.btn-dark(type='submit') 완료

#secondary
script(type='text/javascript', src='/prefer.js')
        