head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    title Zzim

header
    nav.navbar.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href='#') O-Look
            .navbar-nav
                a.nav-link.active(aria-current='page', href='/mypage') My page
                a.nav-link.active(href='/zzim') 찜 목록
                a.nav-link.active(href='/login') 로그아웃

    
    
