extends prefer_layout

block style
    style.
        body {
            background-color: rgb(182,182,182);
        }
        #wrap {
            width: 80%;
            margin-left: 100px;
        }
        #item {
            display: inline-block;
        }
        #p_style_btn {
            margin:50px 50px 10px 50px;
            border-radius: 5px;
            border: solid 1px #c7c7c7;
            box-shadow: 0px 3px 3px rgb(87, 87, 87);
        }

block content
    img#p_head(src='/images/head/ps_head.png', alt='')
    #form_p
      h3#p_text 마음에 드는 스타일을 선택해주세요!
      #style_select
        #wrap(style='text-align: center;')
          #item
            button#p_style_btn
              img(src='/images/casual.png', alt='', width='230px', height='140px')
            h4(style='font-size: medium;') 캐주얼/심플
          #item
            button#p_style_btn
              img(src='/images/training.jpg', alt='', width='230px', height='140px')
            h4(style='font-size: medium;') 트레이닝
          #item
            button#p_style_btn
              img(src='/images/unique.jpg', alt='', width='230px', height='140px')
            h4(style='font-size: medium;') 유니크
          #item
            button#p_style_btn
              img(src='/images/lovely.jpg', alt='', width='230px', height='140px')
            h4(style='font-size: medium;') 러블리
    button#p_btn.btn.btn-outline-dark(type='submit', onclick="location.href='preferbrand'") 확인