extends prefer_layout.pug

block style
    style.
        body {
            background-color: rgb(182,182,182);
        }
        #pricepick {
            width: 300px;
            margin: auto;
            padding: 40px;
        }
        .form-check {
            margin: 30px;
        }

block content
    img#p_head(src='/images/head/pr_head.png', alt='')
    #form_p
        h3#p_text 가격대를 선택해주세요!
        
        #pricepick
            .form-check
                input#flexRadioDefault1.form-check-input(type='radio', name='flexRadioDefault', checked='')
                label.form-check-label(for='flexRadioDefault1')
                    | 0 ~ 30,000
                .form-check
                input#flexRadioDefault2.form-check-input(type='radio', name='flexRadioDefault')
                label.form-check-label(for='flexRadioDefault2')
                    | 30,000 ~ 50,000
                .form-check
                input#flexRadioDefault2.form-check-input(type='radio', name='flexRadioDefault')
                label.form-check-label(for='flexRadioDefault2')
                    | 50,000 ~ 100,000
                .form-check
                input#flexRadioDefault2.form-check-input(type='radio', name='flexRadioDefault')
                label.form-check-label(for='flexRadioDefault2')
                    | 100,000 ~
    button#p_btn.btn.btn-outline-dark(type='submit', onclick="location.href='main'") 확인