extends join_profile_layout
block content
    div
        form#user-form
            br
            br
            br
            //-성별 input
            span 성별
            label
            | 남   
            input#man(type='radio' name='user_gender' value='남' checked='')
            label#woman2
            | 여 
            input#woman(type='radio' name='user_gender' value='여')
            br
            br
            br
            br
            //-직업 input
            span 직업
            input#job_title(type='text' list='career' placeholder='직업을 선택하세요')
            datalist#career
                option(value='학생')
                option(value='회사원')
            br
            br
            br
            br
            //-나이 input
            span 나이
            input#user_age(type='text' placeholder='나이를 입력하세요')
            br
            br
            br
            br
            //-키 input
            span 키
            input#user_height(type='text' placeholder='키를 입력하세요')
            span 몸무게
            input#user_weight(type='text' placeholder='몸무게를 입력하세요')
            br
            br
            br
            br
            br
            //- 회원가입 버튼
            #to_welcome_page
                button#join.btn.btn-dark(type='submit') 회원가입