doctype html
html
  include navbar.pug

.primary
.content
    #zzimBox 
      for zzim in zzims
          
        figure.item
          img(src= zzim.img, alt='')
          figcaption
            h3 #{zzim.brand}
            p #{zzim.title}
          a(href=zzim.item_url target='_blank')

include main_footer.pug

script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='/zzim.js')