extends prefer_layout.pug

block content
  .prefer
    #primary
      #index
        #basic_info 기본
        #profile_info 프로필
        #pc_info 선호 색상
        #ps_info 선호 스타일
        #pb_info 선호 브랜드
        #pr_info 선호가격대
    form(action='/prefer/welcome' id='content' name='signUp' method='post')
      div
        .tab
          .header
            span.headText 프로필 정보
            
            .headImg
              img#p_head(src="/images/head.png", alt="")
          #form
              div
              #user-form
                  .gender
                    //-성별 input
                    span 성별
                    label
                    | 남   
                    input#man.form-check-input(type='radio' name='user_gender' value='남' checked='')
                    label#woman2
                    | 여 
                    input#woman.form-check-input(type='radio' name='user_gender' value='여')
                  .job
                    //-직업 input
                    span 직업
                    input#job_title(type='text' list='career' placeholder='직업을 선택하세요')
                    datalist#career
                        option(value='학생')
                        option(value='회사원')
                  .age
                    //-나이 input
                    span 나이
                    input#user_age(type='text' placeholder='나이를 입력하세요')
                  .height_weight
                    //-키 input
                    span 키
                    input#user_height(type='text' placeholder='키를 입력하세요')
                    span 몸무게
                    input#user_weight(type='text' placeholder='몸무게를 입력하세요')

        .tab
          .wrap
            .header
              span.headText 선호 컬러

              .headImg
                img#p_head(src='/images/head.png', alt='')

            #color_select
              span.des 마음에 드는 컬러를 선택해주세요!
              .form-check
                input#flexCheckDefault.form-check-input(name='color' type='checkbox', value='black' checked='' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckDefault')
                  #color_img
                    img(src="/images/color/black.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='white' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img  
                    img(src="/images/color/white.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='red' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img  
                    img(src="/images/color/red.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='orange' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img  
                    img(src="/images/color/orange.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='yellow' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img
                    img(src="/images/color/yellow.png", alt="")

              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='green' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img
                    img(src="/images/color/green.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='blue' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img 
                    img(src="/images/color/blue.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='navy' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img  
                    img(src="/images/color/navy.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='purple' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img  
                    img(src="/images/color/purple.png", alt="")
              .form-check
                input#flexCheckChecked.form-check-input(name='color' type='checkbox', value='pink' onclick='checkOnlyOne(this)')
                label.form-check-label(for='flexCheckChecked')
                  #color_img  
                    img(src="/images/color/pink.png", alt="")
                    
        
        .tab
          .wrap
            .header
              span.headText 선호 스타일

              .headImg
                img#p_head(src='/images/head.png', alt='')

            #style_select
              span.des 마음에 드는 스타일을 선택해주세요!
              .form-check#styleform
                input#flexRadioDefault1.form-check-input(type='radio' name='style' checked='' value='casual')
                label.form-check-label(id='style_label' for='flexRadioDefault1')
                  img(src='/images/casual.png', alt='', width='230px', height='140px')
                  p 캐주얼
                  
              .form-check#styleform
                input#flexRadioDefault2.form-check-input(type='radio' name='style' value='sporty')
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                  img(src='/images/training.jpg', alt='', width='230px', height='140px')
                  p 스포티

              .form-check#styleform
                input#flexRadioDefault3.form-check-input(type='radio' name='style' value='street')
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                  img(src='/images/unique.jpg', alt='', width='230px', height='140px')
                  p 스트릿
                  
              .form-check#styleform
                input#flexRadioDefault4.form-check-input(type='radio' name='style' value='dandy')
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                  img(src='/images/dandy.jpg', alt='', width='230px', height='140px')
                  p 댄디

              .form-check#styleform
                input#flexRadioDefault4.form-check-input(type='radio' name='style' value='feminine')
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                  img(src='/images/lovely.jpg', alt='', width='230px', height='140px')
                  p 페미닌

              .form-check#styleform
                input#flexRadioDefault4.form-check-input(type='radio' name='style' value='modern')
                label.form-check-label(id='style_label' for='flexRadioDefault2')
                  img(src='/images/modern.jpg', alt='', width='230px', height='140px')
                  p 모던
        
        .tab
          .wrap
            .header
              span.headText 선호 브랜드
              .headImg
                img#p_head(src="/images/head.png", alt="")
            #brand_search
              span.des 브랜드 이름을 입력해주세요!
              .searchbox
                .header
                  input#brand(type='text' placeholder='브랜드를 선택하세요' name='brandName' style='width: 300px;')
        
        .tab 
          .wrap
            .header
              span.headText 선호 가격대
              .headImg
                img#p_head(src='/images/head.png', alt='')
            #pricepick
              span.des 가격대를 선택해주세요!
              .form-check
                input#flexRadioDefault1.form-check-input(type='radio' name='price' checked='' value='저렴')
                label.form-check-label(id='price_label' for='flexRadioDefault1')
                  | 0 ~ 30,000
                  
              .form-check
                input#flexRadioDefault2.form-check-input(type='radio' name='price' value='보통')
                label.form-check-label(id='price_label' for='flexRadioDefault2')
                  | 30,000 ~ 50,000

              .form-check
                input#flexRadioDefault3.form-check-input(type='radio' name='price' value='조금 비쌈')
                label.form-check-label(id='price_label' for='flexRadioDefault2')
                  | 50,000 ~ 100,000
                  
              .form-check
                input#flexRadioDefault4.form-check-input(type='radio' name='price' value='비쌈')
                label.form-check-label(id='price_label' for='flexRadioDefault2')
                  | 100,000 ~
        
      div.btns
        button#prevBtn(type='button', onclick='nextPrev(-1)')
          img(src="/images/left_arrow.png", alt="" width="40px" height="auto")
        button#nextBtn(type='button', onclick='nextPrev(1)')
          img(src="/images/right_arrow.png", alt="" width="40px" height="auto")

      div.submitBtn
        button#join.btn.btn-dark(type='submit') 완료

    #secondary
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/prefer.js')